<!DOCTYPE html>
<html>
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- angular2-image-popup: https://github.com/vimalavinisha/angular2-image-popup -->
  <!-- <link rel="stylesheet" type="text/css" href="node_modules/angular2-image-popup/directives/angular2-image-popup/css/style.css">
  <link rel="stylesheet" type="text/css" href="node_modules/angular2-image-popup/app/assets/css/main.css"> -->

  <!-- angular2-ladda -->
  <!-- TODO replace with the SASS version -->
  <link rel="stylesheet" href="node_modules/ladda/dist/ladda-themeless.min.css">

  <!-- Add cookieconsent2-->

  <base href="/">

</head>
<body>
  <br>
  <!-- Include application here -->
  <my-application>Loading...</my-application>

  <!-- Libraries will be included here automatically by Webpack-->

</body>
</html>
