// @import '../../sass/conf/conf';
$font-family: 'Roboto', sans-serif;

$res-xxl: 1280px;
$res-xl: 1170px;
$res-l: 991px;
$res-m: 768px;
$res-s: 660px;
$res-xs: 500px;
$res-xxs: 435px;
$res-min: 320px;

$top-height: 66px;

$default-animation-duration: .2s;
$default-animation-style: ease-out;

$font-thin: 100;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 500;
$font-ultra-bold: 900;

// sidebar colors
$sidebar: #072d4e;
$sidebar-text: #fff;

// color scheme
$primary: #00abff !default;
$info: #40daf1 !default;
$success: #8bd22f !default;
$warning: #e7ba08 !default;
$danger: #f95372 !default;

$primary-light: tint($primary, 30%);
$info-light: tint($info, 30%);
$success-light: tint($success, 30%);
$warning-light: tint($warning, 30%);
$danger-light: tint($danger, 30%);

$primary-dark: shade($primary, 15%);
$info-dark: shade($info, 15%);
$success-dark: shade($success, 15%);
$warning-dark: shade($warning, 15%);
$danger-dark: shade($danger, 15%);

$primary-bg: tint($primary, 20%);
$info-bg: tint($info, 20%);
$success-bg: tint($success, 20%);
$warning-bg: tint($warning, 20%);
$danger-bg: tint($danger, 20%);



@mixin bg-translucent-dark($opacity) {
  background: rgba(0, 0, 0, $opacity);
}


$sidebar-width: 190px;
$angle-left: '\f100';
$angle-right: '\f101';

.al-sidebar {
  background-color: $sidebar;
  display: block;
  height: 100%;
  left: 0;
  min-height: 100%;
  position: fixed;
  top: $top-height;
  width: $sidebar-width;
  z-index: 1001;
}

.al-sidebar-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 18px 0 0;
}

.al-sidebar-sublist .subitem-submenu-list {
  padding-left: 15px;
}

.subitem-submenu-link {
  .fa {
    top: 7px;
  }
}

.al-sidebar-list-item {
  display: block;
  float: none;
  padding: 0;
  position: relative;
  color: $sidebar-text;

  /*span {
    color: $sidebar-text;
  }*/

  &.selected:not(.with-sub-menu) {
    background-color: $primary;

    a.al-sidebar-list-link {
      color: $sidebar-text;

      b {
        color: $sidebar-text;
      }
    }
  }
}

.ba-sidebar-item-expanded {
  > ul {
    &.al-sidebar-sublist {
      display: block !important;
    }
  }

}

.al-sidebar-list-item,
.ba-sidebar-sublist-item {
  &.ba-sidebar-item-expanded {
    > .al-sidebar-list-link {
      b {
        transform: rotate(180deg);
      }
    }

    > .al-sidebar-sublist {
      display: block;
    }
  }
}

a.al-sidebar-list-link {
  color: $sidebar-text;
  cursor: pointer;
  display: block;
  font-size: 13px;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  padding-left: 18px;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;

  &:hover {
    color: $primary;

    b {
      color: $primary;
    }
  }

  i {
    margin-right: 18px;
    width: 16px;
    display: inline-block;
  }

  b {
    display: block;
    opacity: 1;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-shadow: none;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 12px;
    padding: 0;
    text-align: center;
    color: $sidebar-text;
    transition: transform .2s linear;
  }
}

.slimScrollBar,
.slimScrollRail {
  border-radius: 0 !important;
  left: 176px;
  width: 4px !important;
}

@mixin layout-collapsed() {
  .al-main {
    margin-left: 50px;
  }

  .al-footer {
    padding-left: 83px
  }
}

@mixin default-sublist() {
  padding: 0;
  list-style: none;
  position: relative;
  display: none;

  &.expanded {
    display: block;
  }

  > ba-menu-item > li {
    display: block;
    float: none;
    padding: 0;
    border-bottom: none;
    position: relative;

    a {
      color: $sidebar-text;
      display: block;
      font-size: 13px;
      height: auto;
      line-height: 29px;
      padding-left: 52px;
      text-shadow: none;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    &.selected:not(.with-sub-menu) > a {
      background-color: $primary;
      border: none;

      &:hover {
        color: $sidebar-text;
      }
    }

  }
}

.al-sidebar-sublist {
  @include default-sublist();
}

.sidebar-hover-elem {
  background: $primary;
  display: block;
  height: 42px;
  left: 176px;
  position: absolute;
  top: -150px;
  transition: all .5s ease;
  transition-property: top, height;
  width: 4px;
}

.sidebar-select-elem {
  display: block;
  top: 94px;
}

@mixin sidebar-collapsed() {
  .al-sidebar {
    width: 52px;

    .fa-angle-down,
    .fa-angle-up {
      opacity: 0;
    }

    .al-sidebar-sublist {
      display: block;
      left: 52px;
      overflow: hidden;
      position: absolute;
      top: -1px;
      transition: width .5s ease;
      width: 0;
      @include bg-translucent-dark(.8);

      &.slide-right {
        width: 135px;
      }

      &::before {
        display: none;
      }

      li {
        &::before {
          display: none;
        }

        a {
          min-width: 130px;
          padding-left: 18px;
          padding-right: 18px;
          white-space: nowrap;
        }
      }
    }

    .sidebar-hover-elem,
    .sidebar-select-elem {
      left: 48px;
    }
  }
}

@mixin sidebar-hidden() {
  .al-sidebar {
    width: 0;
  }
  .sidebar-hover-elem,
  .sidebar-select-elem {
    display: none;
  }
}

@mixin sidebar-overlap() {
  .al-sidebar {
    transition: width .5s ease;
    width: $sidebar-width;
    @include bg-translucent-dark(.75);

    .fa-angle-down,
    .fa-angle-up {
      opacity: 1;
    }

    .al-sidebar-sublist {
      background: none;
      left: auto;
      overflow: visible;
      top: auto;
      transition: none;
      width: auto;
      @include default-sublist();
    }

    .sidebar-hover-elem,
    .sidebar-select-elem {
      left: $sidebar-width - 4;
      transition: left .5s ease;
    }
  }
}

.menu-collapsed {
  .slimScrollBar,
  .slimScrollRail {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .menu-collapsed {
    @include layout-collapsed();
  }
}

@media (min-width: $res-xs + 1) {
  .menu-collapsed {
    @include sidebar-collapsed();
  }
}

@media (max-width: 1200px) and (min-width: $res-xs) {
  @include layout-collapsed();
}

//@media (max-width: 1200px) {
//  @include sidebar-overlap();
//}

@media (max-width: $res-xs) {
  .menu-collapsed {
    @include sidebar-hidden();
  }
  .al-main {
    margin-left: 0;
  }
  .al-footer {
    padding-left: 0;
  }
}
