<div>
  <page-header [title]="pageHeader.title" [strapline]="pageHeader.strapline"></page-header>

  <div class="container-fluid">
    <div class="row">
      <carousel></carousel>

      <hr class="featurette-divider">

      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card" *ngFor="let thumb of thumbs | async">
            <img class="card-img-top img-fluid" src="{{thumb.projectHomeView.thumbImagePath}}" alt="Generic placeholder image">
            <div class="card-block text-xs-center">
              <h4 class="card-title">{{thumb.name}}</h4>
              <p class="card-text">{{thumb.projectHomeView.thumbText}}</p>
              <a class="btn btn-default" href="/#projects/{{thumb._id}}" class="btn btn-primary">View details &raquo;</a>
            </div>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div *ngFor="let bigThumb of thumbs | async; let i = index">
        <div class="row featurette">
          <div class="col-md-7 {{i%2==0 ? '' : 'push-md-5'}}">
            <h2 class="featurette-heading">{{bigThumb.name}} <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">{{bigThumb.projectHomeView.bigThumbText}}</p>
          </div>
          <div class="col-md-5 {{i%2==0 ? '' : 'pull-md-7'}}">
            <img class="featurette-image img-fluid m-x-auto" src="{{bigThumb.projectHomeView.bigThumbImagePath}}" alt="Generic placeholder image">
          </div>
        </div>
        <hr class="featurette-divider"> <!-- Divider -->
      </div>
    </div>
  </div>
</div>
