$timeline-panel-border: #d4d4d4;
$white: #fff;
$badge-bg-color: #999;
$primary: #2e6da4;
$success: #3f903f;
$warning: #f0ad4e;
$danger: #d9534f;
$info: #5bc0de;

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;

  &::before {
    background-color: #eee;
    bottom: 0;
    content: ' ';
    left: 50%;
    margin-left: -1.5px;
    position: absolute;
    top: 0;
    width: 3px;
  }

  > li {
    margin-bottom: 20px;
    position: relative;

    &::before {
      content: ' ';
      display: table;
    }

    &::after {
      content: ' ';
      display: table;
      clear: both;
    }

    > .timeline-panel {
      border: 1px solid $timeline-panel-border;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
      box-shadow: 0 1px 6px rgba(0, 0, 0, .175);
      float: left;
      padding: 20px;
      position: relative;
      width: 46%;

      &::before {
        border-bottom: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-top: 15px solid transparent;
        content: ' ';
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 26px;
      }

      &::after {
        border-bottom: 14px solid transparent;
        border-left: 14px solid $white;
        border-right: 0 solid $white;
        border-top: 14px solid transparent;
        content: ' ';
        display: inline-block;
        position: absolute;
        right: -14px;
        top: 27px;
      }
    }

    > .timeline-badge {
      background-color: $badge-bg-color;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      color: $white;
      font-size: 1.4em;
      height: 50px;
      left: 50%;
      line-height: 50px;
      margin-left: -25px;
      position: absolute;
      text-align: center;
      top: 16px;
      width: 50px;
      z-index: 100;

      &.primary {
        background-color: $primary !important;
      }
      &.success {
        background-color: $success !important;
      }
      &.warning {
        background-color: $warning !important;
      }
      &.danger {
        background-color: $danger !important;
      }
      &.info {
        background-color: $info !important;
      }
    }

    &.timeline-inverted {
      > .timeline-panel {
        float: right;

        &::before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &::after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }
    }
  }
}

.timeline-title {
  color: inherit;
  margin-top: 0;
}

.timeline-body {
  > p, > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  ul.timeline {
    &::before {
      left: 40px;
    }

    > li {
      > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
        float: right;

        &::before {
          border-left-width: 0;
          border-right-width: 15px;
          left: -15px;
          right: auto;
        }

        &::after {
          border-left-width: 0;
          border-right-width: 14px;
          left: -14px;
          right: auto;
        }
      }

      > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
      }
    }
  }
}
