<div class="container-fluid">
  <page-header [title]="pageHeader.title" [strapline]="pageHeader.strapline"></page-header>

  <div class="row">

    <div class="col-md-7 col-lg-7">
      <label for="filter">Filter results</label><br/>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></span>
        <input type="text" class="form-control" [(ngModel)]="searchInput" placeholder="Write a text to filter projects">
      </div>
      <br>
      <!-- <div class="error">{{ message }}</div> -->
      <div *ngFor="let project of projects | async | projectSearchPipe:searchInput">
        <span *ngIf="project.visible">
          <div class="media card card-outline-primary card-default">
            <br/>
            <div class="media-left">
              <a [routerLink]="['/projects', project._id]">
                <img class="media-object" src={{project.iconPath}} alt="iconPath">
              </a>
            </div>
            <div class="media-body">
              <!-- <div class="row">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">  -->
                  <h4 class="media-heading"><a href="{{project.url}}"> <span class="fa fa-github" style="color:ligthblue"></span></a>&nbsp;&nbsp;&nbsp;<a  [routerLink]="['/projects', project._id]">{{ project.name }}</a></h4>
                  <p class="name">{{ project.shortDescription }}</p>
                  <p>
                    <span class="tag tag-pill tag-warning" *ngFor="let tag of project.tags">
                      {{ tag }}
                    </span>
                  </p>
            </div>
           <!--  <div class="col-sm-2 col-md-2 col-lg-2">
              <a href="{{project.url}}"> <span class="fa fa-github fa-4x" style="color:ligthblue"></span></a>
            </div> -->

                <!-- </div> -->
                <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="ribbon">
                    <a href="{{project.url}}"><img src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
                  </div>
                </div> -->
              <!-- </div> -->
            </div>
          <!-- </div> -->
        </span>
      </div>
    </div>


    <!-- Sidebar, taken from http://bootsnipp.com/snippets/featured/timeline-responsive -->
    <div class="col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1">
      <div class="page-header">
        <h3 id="timeline">{{sidebarTitle}}</h3>
      </div>
      <ul class="timeline" *ngFor="let time of sidebar.timeline; let i = index">
        <li class="{{i%2==0 ? '' : 'timeline-inverted'}}">
          <div class="timeline-badge {{time.color}}"><i class="fa fa-{{time.icon}}"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{time.title}}</h4>
            </div>
            <hr>
            <div class="timeline-body">
              <p>{{time.body}}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
