<!-- Angular ng-bootstrap's modal dialog START-->
<!-- To use this, I also defined a <template ngbModalContainer></template> into application.html-->
<ng-template #modalDialogContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">{{ 'PROFILE.ASK_DESTROY_TITLE' | translate }}</h3>
  </div>
  <div class="modal-body" [innerHTML]="'PROFILE.ASK_DESTROY_MSG_HTML' | translate">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="c('Confirm click')">{{ 'PROFILE.BTN_ASK_OK' | translate }}</button>
		<button class="btn btn-danger" type="button" (click)="d('Close click')">{{ 'PROFILE.BTN_ASK_CANCEL' | translate }}</button>
  </div>
</ng-template>
<!-- Angular ng-bootstrap's modal dialog END-->


<!-- Real webpage -->
<div class="container-fluid">
  <mmw-page-header [title]="pageHeader.title" [strapline]="pageHeader.strapline"></mmw-page-header>

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img class="img-thumbnail" src="{{bigProfileImage}}" alt="{{ 'PROFILE.ALT_PROFILE_IMAGE' | translate }}" width="140" height="140">
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<h3>{{ 'PROFILE.LABEL_SERVICES' | translate }}</h3>
					&nbsp;<span class="fa fa-user fa-2x" *ngIf="local.email.length > 0">&nbsp;</span>
					<span class="fa fa-facebook fa-2x" *ngIf="facebook.email.length > 0">&nbsp;</span>
					<span class="fa fa-github fa-2x" *ngIf="github.email.length > 0">&nbsp;</span>
					<span class="fa fa-google fa-2x" *ngIf="google.email.length > 0">&nbsp;</span>
					<span class="fa fa-linkedin fa-2x" *ngIf="linkedin.email.length > 0">&nbsp;</span>
					<span class="fa fa-twitter fa-2x" *ngIf="twitter.name.length > 0 || twitter.email.length > 0">&nbsp;</span>
				</div>
			</div>

			<br>

			<div class="col-md-6 col-sm-12">
		  	<p class="lead">{{ 'PROFILE.LABEL_UPDATE_PROFILE' | translate }}</p>
        <form [formGroup]="formModel" (ngSubmit)="onProfileUpdate()" novalidate>
          <div *ngIf="profileAlert.visible" class="alert alert-{{profileAlert.status}}" role="alert">
            <strong>{{profileAlert.strong}}</strong> {{profileAlert.message}}
          </div>
          <div class="form-group" [class.has-error]="formModel.hasError('name')">
            <label for="name">{{ 'PROFILE.LABEL_NAME' | translate }}</label>
            <input type="text" class="form-control" id="name" placeholder="{{ 'PROFILE.PLACEHOLDER_NAME' | translate }}"
                    minlength="3" formControlName="name">
            <span class="form-text text-muted" [class.invisible]="!formModel.hasError('name')">
              {{ 'PROFILE.MSG_NAME' | translate }}
            </span>
          </div>
          <div class="form-group" [class.has-error]="formModel.hasError('surname')">
            <label for="surname">{{ 'PROFILE.LABEL_SURNAME' | translate }}</label>
            <input type="text" class="form-control" id="surname" placeholder="{{ 'PROFILE.PLACEHOLDER_SURNAME' | translate }}"
                    minlength="3" formControlName="surname">
            <span class="form-text text-muted" [class.invisible]="!formModel.hasError('surname')">
              {{ 'PROFILE.MSG_SURNAME' | translate }}
            </span>
          </div>
          <div class="form-group" [class.has-error]="formModel.hasError('nickname')">
            <label for="nickname">{{ 'PROFILE.LABEL_NICKNAME' | translate }}</label>
            <input type="text" class="form-control" id="nickname" placeholder="{{ 'PROFILE.PLACEHOLDER_NICKNAME' | translate }}"
                    minlength="3" formControlName="nickname">
            <span class="form-text text-muted" [class.invisible]="!formModel.hasError('nickname')">
              {{ 'PROFILE.MSG_NICKNAME' | translate }}
            </span>
          </div>
          <div class="form-group" [class.has-error]="formModel.hasError('email')">
            <label for="email">{{ 'PROFILE.LABEL_EMAIL' | translate }}</label>
            <input type="email" class="form-control" id="email" placeholder="{{ 'PROFILE.PLACEHOLDER_EMAIL' | translate }}"
                    minlength="3" formControlName="email">
            <span class="form-text text-muted" [class.invisible]="!formModel.hasError('email')">
              {{ 'PROFILE.MSG_EMAIL' | translate }}
            </span>
          </div>
          <button [ladda]='isWaiting' data-style="slide-right" data-spinner-color="White" class="btn btn-primary ladda-button"><span class="ladda-label">{{ 'PROFILE.BTN_UPDATE' | translate }}</span></button>
		    </form>
		  </div>
		</div>

		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
      <mmw-page-header [title]="sidebar.title" [strapline]="sidebar.strapline"></mmw-page-header>
			<h6>{{ 'PROFILE.MSG_CONNECT' | translate }}</h6>
			<div *ngIf="facebook.email.length === 0">
				<a class="btn btn-primary white-button" href="{{facebookConnectOauthUrl}}"> <span class="fa fa-facebook fa-lg"></span> {{ 'PROFILE.BTN_CONNECT' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="github.email.length === 0">
				<a class="btn btn-primary white-button" href="{{githubConnectOauthUrl}}"> <span class="fa fa-github fa-lg"></span> {{ 'PROFILE.BTN_CONNECT' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="google.email.length === 0">
				<a class="btn btn-primary white-button" href="{{googleConnectOauthUrl}}"> <span class="fa fa-google fa-lg"></span> {{ 'PROFILE.BTN_CONNECT' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="twitter.name.length === 0 && twitter.email.length === 0">
				<a class="btn btn-primary white-button" href="{{twitterConnectOauthUrl}}"> <span class="fa fa-twitter fa-lg"></span> {{ 'PROFILE.BTN_CONNECT' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="linkedin.email.length === 0">
				<a class="btn btn-primary white-button" href="{{linkedinConnectOauthUrl}}"> <span class="fa fa-linkedin fa-lg"></span> {{ 'PROFILE.BTN_CONNECT' | translate }}</a>
				<br><br>
			</div>
			<br><br>
			<h6>{{ 'PROFILE.MSG_UNLINK' | translate }}</h6>

			<div *ngIf="local.email.length > 0">
				<a class="btn btn-primary white-button" (click)="unlink('local')"> <span class="fa fa-user fa-lg"></span> {{ 'PROFILE.BTN_UNLINK' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="facebook.email.length > 0">
				<a class="btn btn-primary white-button" (click)="unlink('facebook')"> <span class="fa fa-facebook fa-lg"></span> {{ 'PROFILE.BTN_UNLINK' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="github.email.length > 0">
				<a class="btn btn-primary white-button" (click)="unlink('github')"> <span class="fa fa-github fa-lg"></span> {{ 'PROFILE.BTN_UNLINK' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="google.email.length > 0">
				<a class="btn btn-primary white-button" (click)="unlink('google')"> <span class="fa fa-google fa-lg"></span> {{ 'PROFILE.BTN_UNLINK' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="twitter.name.length > 0 && twitter.email.length > 0">
				<a class="btn btn-primary white-button" (click)="unlink('twitter')"> <span class="fa fa-twitter fa-lg"></span> {{ 'PROFILE.BTN_UNLINK' | translate }}</a>
				<br><br>
			</div>
			<div *ngIf="linkedin.email.length > 0">
				<a class="btn btn-primary white-button" (click)="unlink('linkedin')"> <span class="fa fa-linkedin fa-lg"></span> {{ 'PROFILE.BTN_UNLINK' | translate }}</a>
				<br><br>
			</div>
		</div>
	</div>
</div>
