<div class="container-fluid">
  <mmw-page-header [title]="pageHeader.title" [strapline]="pageHeader.strapline"></mmw-page-header>

  <div class="row">
    <div class="col-md-12 col-sm-12">

      <h4>{{ 'RESET.LABEL_NEW_PASSWORD' | translate }}</h4><br><br>

      <form [formGroup]="formModel" (ngSubmit)="onReset()" novalidate>
        <div *ngIf="resetAlert.visible" class="alert alert-{{resetAlert.status}}" role="alert">
          <strong>{{resetAlert.strong}}</strong> {{resetAlert.message}}
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('password').valid" [class.has-danger]="showFormError">
          <label for="password">{{ 'RESET.LABEL_NEW_PWD' | translate }}</label>
          <input type="password" class="form-control" id="password" placeholder="{{ 'RESET.PLACEHOLDER_NEW_PWD' | translate }}" formControlName="password">
          <span class="form-text text-muted" *ngIf="!formModel.get('password').valid">
            {{ 'RESET.MSG_NEW_PWD_1' | translate }}
            <ul>
              <li>{{ 'RESET.MSG_NEW_PWD_2' | translate }}</li>
              <li>{{ 'RESET.MSG_NEW_PWD_3' | translate }}</li>
              <li>{{ 'RESET.MSG_NEW_PWD_4' | translate }}</li>
              <li>{{ 'RESET.MSG_NEW_PWD_5' | translate }}</li>
              <li>{{ 'RESET.MSG_NEW_PWD_6' | translate }}</li>
              <li>{{ 'RESET.MSG_NEW_PWD_7' | translate }}</li>
            </ul>
          </span>
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('passwordConfirm').valid" [class.has-danger]="showFormError">
          <label for="passwordConfirm">{{ 'RESET.LABEL_CONFIRM_PWD' | translate }}</label>
          <input type="password" class="form-control" id="passwordConfirm" placeholder="{{ 'RESET.PLACEHOLDER_CONFIRM_PWD' | translate }}" formControlName="passwordConfirm">
          <span class="form-text text-muted" *ngIf="!formModel.get('passwordConfirm').valid">
            {{ 'RESET.MSG_CONFIRM_PWD' | translate }}
          </span>
        </div>
        <button type="submit" [disabled]="alreadyChanged" [ladda]='isWaiting' data-style="slide-right" data-spinner-color="White" class="btn btn-primary ladda-button"><span class="ladda-label">{{ 'RESET.BTN_CHANGE_PWD' | translate }}</span></button>
      </form>

      <br>
      <br>
      <p> {{ 'RESET.BACK' | translate }} <a [routerLink]="['/login']">login</a></p>
    </div>
  </div>
</div>
