<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a pageScroll href="#home" class="navbar-brand" [routerLink]="['/']" href="#">KS</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item {{isNavItemActive('/projects')}}">
        <a class="nav-link" [routerLink]="['/projects']">Projects</a>
      </li>
      <li class="nav-item {{isNavItemActive('/cv')}}">
        <a class="nav-link" [routerLink]="['/cv']">CV</a>
      </li>
      <li class="nav-item {{isNavItemActive('/contact')}}">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item {{isNavItemActive('/about')}}">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item {{isNavItemActive('/profile')}}">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item {{isNavItemActive('/login')}}">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item dropdown {{isNavItemActive('/login')}}">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ currentUser.name }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- User these <br>s to add an empty space between navigation and the body -->
<br>
<br>
