<div class="container-fluid">
  <mmw-page-header [title]="pageHeader.title" [strapline]="pageHeader.strapline"></mmw-page-header>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p class="lead">{{ 'REGISTER.LABEL_ALREADY_MEMBER1' | translate }} <a [routerLink]="['/login']">log in</a> {{ 'REGISTER.LABEL_ALREADY_MEMBER2' | translate }}</p>

      <form [formGroup]="formModel" (ngSubmit)="onRegister()" novalidate>
        <div *ngIf="registerAlert.visible" class="alert alert-{{registerAlert.status}}" role="alert">
          <strong>{{registerAlert.strong}}</strong> {{registerAlert.message}}
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('name').valid" [class.has-danger]="showFormError">
          <label for="name">{{ 'REGISTER.LABEL_FULL_NAME' | translate }}</label>
          <input type="text" class="form-control" id="name" placeholder="{{ 'REGISTER.PLACEHOLDER_FULL_NAME' | translate }}" formControlName="name">
          <span class="form-text text-muted" *ngIf="!formModel.get('name').valid">
            {{ 'REGISTER.MSG_FULL_NAME' | translate }}
          </span>
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('email').valid" [class.has-danger]="showFormError">
          <label for="email">{{ 'REGISTER.LABEL_EMAIL' | translate }}</label>
          <input type="email" class="form-control" id="email" placeholder="{{ 'REGISTER.PLACEHOLDER_EMAIL' | translate }}" formControlName="email">
          <span class="form-text text-muted" *ngIf="!formModel.get('email').valid">
            {{ 'REGISTER.MSG_EMAIL' | translate }}
          </span>
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('emailConfirm').valid" [class.has-danger]="showFormError">
          <label for="email">{{ 'REGISTER.LABEL_CONFIRM_EMAIL' | translate }}</label>
          <input type="email" class="form-control" id="emailConfirm" placeholder="{{ 'REGISTER.PLACEHOLDER_CONFIRM_EMAIL' | translate }}" formControlName="emailConfirm">
          <span class="form-text text-muted" *ngIf="!formModel.get('emailConfirm').valid">
            {{ 'REGISTER.MSG_CONFIRM_EMAIL' | translate }}
          </span>
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('password').valid" [class.has-danger]="showFormError">
          <label for="password">{{ 'REGISTER.LABEL_PWD' | translate }}</label>
          <input type="password" class="form-control" id="password" placeholder="{{ 'REGISTER.PLACEHOLDER_PWD' | translate }}" formControlName="password">
          <span class="form-text text-muted" *ngIf="!formModel.get('password').valid">
            {{ 'REGISTER.MSG_PWD_1' | translate }}
            <ul>
              <li>{{ 'REGISTER.MSG_PWD_2' | translate }}</li>
              <li>{{ 'REGISTER.MSG_PWD_3' | translate }}</li>
              <li>{{ 'REGISTER.MSG_PWD_4' | translate }}</li>
              <li>{{ 'REGISTER.MSG_PWD_5' | translate }}</li>
              <li>{{ 'REGISTER.MSG_PWD_6' | translate }}</li>
              <li>{{ 'REGISTER.MSG_PWD_7' | translate }}</li>
            </ul>
          </span>
        </div>
        <div class="form-group" [class.has-warning]="!formModel.get('passwordConfirm').valid" [class.has-danger]="showFormError">
          <label for="passwordConfirm">{{ 'REGISTER.LABEL_CONFIRM_PWD' | translate }}</label>
          <input type="password" class="form-control" id="passwordConfirm" placeholder="{{ 'REGISTER.PLACEHOLDER_CONFIRM_PWD' | translate }}" formControlName="passwordConfirm">
          <span class="form-text text-muted" *ngIf="!formModel.get('passwordConfirm').valid">
            {{ 'REGISTER.MSG_CONFIRM_PWD' | translate }}
          </span>
        </div>
        <button type="submit" [ladda]='isWaiting' data-style="slide-right" data-spinner-color="White" class="btn btn-primary ladda-button"><span class="ladda-label">{{ 'REGISTER.BTN_REGISTER' | translate }}</span></button>
      </form>
    </div>
  </div>
</div>
