<navigation></navigation>

<!-- Modal dialog html page-->
<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<h3 class="modal-title">Whould you really destroy your account?</h3>
	</div>
	<div class="modal-body">
		If you unlink the last service, <strong>you won't be able to login again</strong> to this account.<br>
		All your saved data will be quicky destroyed.
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="vm.modalDialogOk()">OK</button>
		<button class="btn btn-warning" type="button" ng-click="vm.modalDialogCancel()">Cancel</button>
	</div>
</script>

<!-- Real webpage -->
<div class="container">
	<page-header content="vm.pageHeader"></page-header>

	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<img class="img-thumbnail" ng-src="{{vm.bigProfileImage}}" alt="Profile image" width="140" height="140">
				</div>
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<h3>Connected services</h3>
					&nbsp;<span class="fa fa-user fa-2x" ng-if="vm.local.email.length > 0">&nbsp;</span>
					<span class="fa fa-facebook fa-2x" ng-if="vm.facebook.email.length > 0">&nbsp;</span>
					<span class="fa fa-github fa-2x" ng-if="vm.github.email.length > 0">&nbsp;</span>
					<span class="fa fa-google fa-2x" ng-if="vm.google.email.length > 0">&nbsp;</span>
					<span class="fa fa-linkedin fa-2x" ng-if="vm.linkedin.email.length > 0">&nbsp;</span>
					<span class="fa fa-twitter fa-2x" ng-if="vm.twitter.name.length > 0 || vm.twitter.email.length > 0">&nbsp;</span>
				</div>
			</div>

			<br>

			<div class="col-md-6 col-sm-12">
		  	<p class="lead">Update your profile</p>
		  	<fieldset ng-disabled="vm.formDisable">
			    <form>
			      <div role="alert" ng-show="vm.formMessage" class="alert alert-{{vm.formStatus}}">{{ vm.formMessage}}</div>
			      <div class="form-group">
			        <label for="name">Name</label>
			        <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
			      </div>
			      <div class="form-group">
			        <label for="surname">Surname</label>
			        <input type="text" class="form-control" id="surname" placeholder="Enter your surname" ng-model="vm.credentials.surname">
			      </div>
			      <div class="form-group">
			        <label for="nickname">Nickname</label>
			        <input type="text" class="form-control" id="nickname" placeholder="Enter your nickname" ng-model="vm.credentials.nickname">
			      </div>
			      <div class="form-group">
			        <label for="email">Email address</label>
			        <input type="text" class="form-control" id="email" placeholder="Enter your email address" ng-model="vm.credentials.email">
			      </div>
			      <button type="button" ng-click="vm.onSubmit()" ladda="vm.isWaiting" data-style="slide-right" data-spinner-color="Azure" class="btn btn-primary ladda-button"><span class="ladda-label">Update!</span></button>
			    </form>
		    </fieldset>
		  </div>
		</div>

		<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
			<page-header content="vm.sidebar"></page-header>
			<h6>
				Connect this account with other services!
				You'll be able to access to the same account with many services.
			</h6>

			<div ng-if="vm.facebook.email.length === 0">
				<a class="btn btn-primary" ng-href="{{vm.facebookConnectOauthUrl}}"> <span class="fa fa-facebook fa-lg"></span> connect</a>
				<br><br>
			</div>
			<div ng-if="vm.github.email.length === 0">
				<a class="btn btn-primary" ng-href="{{vm.githubConnectOauthUrl}}"> <span class="fa fa-github fa-lg"></span> connect</a>
				<br><br>
			</div>
			<div ng-if="vm.google.email.length === 0">
				<a class="btn btn-primary" ng-href="{{vm.googleConnectOauthUrl}}"> <span class="fa fa-google fa-lg"></span> connect</a>
				<br><br>
			</div>
			<div ng-if="vm.twitter.name.length === 0 && vm.twitter.email.length === 0">
				<a class="btn btn-primary" ng-href="{{vm.twitterConnectOauthUrl}}"> <span class="fa fa-twitter fa-lg"></span> connect</a>
				<br><br>
			</div>
			<div ng-if="vm.linkedin.email.length === 0">
				<a class="btn btn-primary" ng-href="{{vm.linkedinConnectOauthUrl}}"> <span class="fa fa-linkedin fa-lg"></span> connect</a>
				<br><br>
			</div>
			<br><br>
			<h6>
				Unlink a service from this account!
				You won't be able to login anymore with that service.
			</h6>

			<div ng-if="vm.local.email.length > 0">
				<a class="btn btn-primary" href="" ng-click="vm.unlink('local')"> <span class="fa fa-user fa-lg"></span> unlink</a>
				<br><br>
			</div>
			<div ng-if="vm.facebook.email.length > 0">
				<a class="btn btn-primary" ng-click="vm.unlink('facebook')"> <span class="fa fa-facebook fa-lg"></span> unlink</a>
				<br><br>
			</div>
			<div ng-if="vm.github.email.length > 0">
				<a class="btn btn-primary" ng-click="vm.unlink('github')"> <span class="fa fa-github fa-lg"></span> unlink</a>
				<br><br>
			</div>
			<div ng-if="vm.google.email.length > 0">
				<a class="btn btn-primary" ng-click="vm.unlink('google')"> <span class="fa fa-google fa-lg"></span> unlink</a>
				<br><br>
			</div>
			<div ng-if="vm.twitter.name.length > 0 && vm.twitter.email.length > 0">
				<a class="btn btn-primary" ng-click="vm.unlink('twitter')"> <span class="fa fa-twitter fa-lg"></span> unlink</a>
				<br><br>
			</div>
			<div ng-if="vm.linkedin.email.length > 0">
				<a class="btn btn-primary" ng-click="vm.unlink('linkedin')"> <span class="fa fa-linkedin fa-lg"></span> unlink</a>
				<br><br>
			</div>
		</div>
	</div>
</div>

<footer-generic></footer-generic>
