<navigation></navigation>

<div class="container">
	<page-header content="vm.pageHeader"></page-header>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
			<div class="well"> 
				<h3 class="text-primary"><span class="fa fa-user"></span> Local</h3>

				<div ng-if="vm.local.email.length > 0">
					<p>
						<strong>name</strong>: {{ vm.local.name }}<br>
						<strong>email</strong>: {{ vm.local.email }}<br>
					</p>
					<a class="btn btn-primary" href="" ng-click="vm.unlinkLocal()">Unlink Local</a>&nbsp;&nbsp;  
				</div>
				<div ng-if="vm.local.email.length === 0">
					<!-- <a class="btn btn-primary" href="/#login/?page={{ vm.currentPath }}">Login Local</a> -->
					You are logged using a third-party service. You cannot link a local account!
					&nbsp;&nbsp;  		
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-2">
			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<div class="well"> 
				<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

				<div ng-if="vm.facebook.email.length > 0">
					<p>
						<strong>name</strong>: {{ vm.facebook.name }}<br>
						<strong>email</strong>: {{ vm.facebook.email }}<br>
						<strong>id</strong>: {{vm.facebook.id }}
					</p>
					<a class="btn btn-primary" href-call-function-controller function-to-call="unlinkByServiceName(arg1)" servicename="facebook" href="{{vm.facebookUnlinkOauthUrl}}">Unlink Facebook</a>&nbsp;&nbsp;  
				</div>
				<div ng-if="vm.facebook.email.length === 0">
					<a class="btn btn-primary" ng-href="{{vm.facebookConnectOauthUrl}}">Connect Facebook</a>&nbsp;&nbsp;  		
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<div class="well"> 
				<h3 class="text-primary"><span class="fa fa-github"></span> Github</h3>

				<div ng-if="vm.github.email.length > 0">
					<p>
						<strong>name</strong>: {{ vm.github.name }}<br>
						<strong>email</strong>: {{ vm.github.email }}<br>
						<strong>id</strong>: {{vm.github.id }}<br>
					</p>

					<a class="btn btn-primary" href-call-function-controller function-to-call="unlinkByServiceName(arg1)" servicename="github" href="{{vm.githubUnlinkOauthUrl}}">Unlink Github</a>&nbsp;&nbsp;  
				</div>
				<div ng-if="vm.github.email.length === 0">
					<a class="btn btn-primary" ng-href="{{vm.githubConnectOauthUrl}}">Connect Github</a>&nbsp;&nbsp;  		
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-2">
			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<div class="well"> 
				<h3 class="text-primary"><span class="fa fa-google"></span> Google</h3>

				<div ng-if="vm.google.email.length > 0">
					<p>
						<strong>name</strong>: {{ vm.google.name }}<br>
						<strong>email</strong>: {{ vm.google.email }}<br>
						<strong>id</strong>: {{vm.google.id }}<br>
					</p>

					<a class="btn btn-primary" href-call-function-controller function-to-call="unlinkByServiceName(arg1)" servicename="google" href="{{vm.googleUnlinkOauthUrl}}">Unlink Google</a>&nbsp;&nbsp;  
				</div>
				<div ng-if="vm.google.email.length === 0">
					<a class="btn btn-primary" ng-href="{{vm.googleConnectOauthUrl}}">Connect Google</a>&nbsp;&nbsp;  		
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<div class="well"> 
				<h3 class="text-primary"><span class="fa fa-twitter"></span> Twitter</h3>

				<div ng-if="vm.twitter.email.length > 0">
					<p>
						<strong>name</strong>: {{ vm.twitter.name }}<br>
						<strong>email</strong>: {{ vm.twitter.email }}<br>
						<strong>id</strong>: {{vm.twitter.id }}<br>
					</p>

					<a class="btn btn-primary" ng-href="{{vm.twitterUnlinkOauthUrl}}">Unlink Twitter</a>&nbsp;&nbsp;  
				</div>
				<div ng-if="vm.twitter.email.length === 0">
					<a class="btn btn-primary" ng-href="{{vm.twitterConnectOauthUrl}}">Connect Twitter</a>&nbsp;&nbsp;  		
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-2">
			<!-- check if the user has this token (is the user authenticated with this social account) -->
			<div class="well"> 
				<h3 class="text-primary"><span class="fa fa-linkedin"></span> Linkedin</h3>

				<div ng-if="vm.twitter.email.length > 0">
					<p>
						<strong>name</strong>: <br>
						<strong>email</strong>: <br>
						<strong>id</strong>: <br>
					</p>

					<a class="btn btn-primary" ng-href="{{vm.linkedinUnlinkOauthUrl}}">Unlink Linkedin</a>&nbsp;&nbsp;  
				</div>
				<div ng-if="vm.twitter.email.length === 0">
					<a class="btn btn-primary" ng-href="{{vm.linkedinConnectOauthUrl}}">Connect Linkedin</a>&nbsp;&nbsp;  		
				</div>
			</div>
		</div>
	</div>

	<footer-generic></footer-generic>
</div>
