<navigation></navigation>

<div ng-controller="homeCtrl" >
	<page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <uib-carousel active="vm.active" interval="vm.myInterval" no-wrap="vm.noWrapSlides">
        <uib-slide ng-repeat="slide in vm.slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
           <h4>{{slide.header}}</h4>
           <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>  

    <div class="container marketing">
      <div class="row">
        <div ng-repeat="thumb in vm.thumbs">
          <div class="col-lg-4">
            <img class="img-thumbnail" ng-src="{{thumb.image}}" alt="Generic placeholder image" width="140" height="140">
            <h2>{{thumb.header}}</h2>
            <p>{{thumb.text}}</p>
            <p><a class="btn btn-default" href="{{thumb.viewButtonLink}}" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider"> <!-- initial divider --> 

      <div ng-repeat="bigThumb in vm.bigThumbs">
        <div class="row featurette">
          <div class="col-md-7 {{$index%2==0 ? '' : 'col-md-push-5'}}">
            <h2 class="featurette-heading">{{bigThumb.header}} <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">{{bigThumb.text}}</p>
          </div>
          <div class="col-md-5 {{$index%2==0 ? '' : 'col-md-pull-7'}}">
            <img class="featurette-image img-responsive center-block" ng-src="{{bigThumb.image}}" alt="Generic placeholder image">
          </div>
        </div>
        <hr class="featurette-divider"> <!-- Divider --> 
      </div>
    </div>
  </div>
</div>

<footer-generic></footer-generic>
