<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">

  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
    <p class="lead">Send me an email</p>
    <fieldset ng-disabled="vm.formDisable">
      <form>
        <div role="alert" class="alert alert-{{vm.error}}">
          {{ vm.formResultMessage }}
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" class="form-control" id="emailInput" required="required" ng-model="vm.formData.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="subjectInput">Subject</label>
          <input class="form-control" id="subjectInput" required="required" ng-model="vm.formData.object" placeholder="Subject">
        </div>
        <div class="form-group">
          <label for="textInput">Message</label>
          <textarea class="form-control" id="textInput" name="messageText" rows="5" required="required" ng-model="vm.formData.messageText" placeholder="Message text"></textarea>
        </div>
        <button type="button" ng-click="vm.onSubmit()" ladda="vm.isWaiting" data-style="slide-right" data-spinner-color="Azure" class="btn btn-primary ladda-button"><span class="ladda-label">Submit</span></button>

        <!-- The recaptcha. 
        Remember to include into index.html the api js file from google server!!!-->
        <div class="g-recaptcha pull-right" data-sitekey="{{vm.publicKey}}"></div>
      </form>
    </fieldset>
  </div>
</div>

<footer-generic></footer-generic>